<div *ngIf='showDtl' class="mailBodyTitle stdFontSize">
    <div>
        {{showFullLengthMail?.data.subject}}
        <span *ngIf='!(showFullLengthMail.isTrash)' class="floatRight" (click)='moveToTrash()'>
            Delete
        </span>
    </div>
    <div>
        <span class="floatRight paddingAlign">
            {{showFullLengthMail?.data.date}}
        </span>
        <span class="floatLeft paddingAlign">
            {{showFullLengthMail?.data.name}}
        </span>
    </div>
</div>

<div *ngIf='showDtl' class="mailBody">
    {{showFullLengthMail?.data.body}}
</div>