<div class="row">
  <div class="whiteFontColor fontSize column1 flexHeight">
    <!-- side nav starts -->
    <!-- compose mail tab -->
    <div class="composeMail">
      Compose
    </div>
    <div class="sideNav">
      <div (click)='getSelectedTabData("inbox")' class="menu">Inbox
        <span *ngIf="(inboxReadCountNum !== 0)" class="count menu">{{inboxReadCountNum}}</span></div>
      <div class="menu">Sent</div>
      <div class="menu">Drafts</div>
      <div (click)='getSelectedTabData("trash")' class="menu">Trash
        <span class="count" *ngIf="(trashMailsData.length!==0)">
          {{trashMailsData.length}}
        </span>
      </div>
    </div>
  </div>
  <!-- list of mail column -->
  <div class="column2 flexHeight">
    <app-mail-list [selectedTabData]='selectedTabData'></app-mail-list>
  </div>
</div>
<!-- applicatio footer -->
<app-footer></app-footer>